SECRET_KEY_BASE=replace-with-output-from-mix-phx-gen-secret
PHX_HOST=example.com
PORT=4000
PHX_SERVER=true
PHX_BIND_IP=127.0.0.1
PHX_CHECK_ORIGIN=//example.com,//www.example.com
WORLD_PUBLIC_CONTROLS=false
